<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>TecnoPlanet</title>
</head>

<body>
    <div data-role="page">
        <div data-role="header" style="overflow: hidden;">
            <h1>TecnoPlanet</h1>
            <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
            <div data-role="navbar">
                <ul>
                    <li><a href="#">Articles</a></li>
                   
                </ul>
            </div>
        </div>
        <div data-role="content" class="ui-content" >
            <form action="/api/electronica/updateOne/<%= electronica.electronica_Id %>" method="POST">
                <label for="txtElectronicaID">Identificador:</label>
                <input type="number" name="electronica_Id" id="txtElectronicaId" value="<%= electronica.electronica_Id %>">
                <label for="txtNombre">Nombre:</label>
                <input type="text" name="nombre" id="txtNombre" value="<%= electronica.nombre %>">
                <label for="txtCategoria">Categoria:</label>
                <input type="text" name="categoria" id="txtCategoria" value="<%= electronica.categoria %>">
                <label for="txtPrecio">Precio:</label>
                <input type="number" name="precio" id="txtPrecio" value="<%= electronica.precio %>">
                <label for="txtModelo">Modelo:</label>
                <input type="text" name="modelo" id="txtModelo" value="<%= electronica.modelo %>">
                <label for="txtStock">Stock:</label>
                <input type="text" name="stock" id="txtStock" value="<%= electronica.stock %>">
                <button class="ui-btn ui-btn-center">Actualizar</button>
            </form>
            <div data-role="footer" style="overflow: hidden;">
            <h4 style="text-align: center;">Social Networks</h4>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="user"></a></li>
                    <li><a href="#" data-icon="heart"></a></li>
                    <li><a href="#" data-icon="mail"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>