<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>TecnoPlanet</title>
</head>

<body>
    <div data-role="page">
        <div data-role="header" style="overflow: hidden;">
            <h1>TecnoPlanet</h1>
            <a href="#" data-icon="gear" class="ui-btn-right">Options</a>
            <div data-role="navbar">
                <ul>
                    <li><a href="#">Articles</a></li>
                   
                </ul>
            </div>
        </div>
        
        <div role="content" class="ui-content">
            <form action="/api/electronica/insert" method="POST">
                <label for="txtElectronicaID"><h4>Identificador:</h4></label>
                <input type="number" name="electronica_Id" id="txtElectronicaID">

                <label for="txtElectronicaNombre"><h4>Nombre:</h4></label>
                <input type="text" name="nombre" id="txtElectronicaNombre">

                <label for="txtCategoria"><h4>Categoria:</h4></label>
                <input type="text" name="categoria" id="txtCategoria">

                <label for="txtPrecio"><h4>Precio:</h4></label>
                <input type="number" name="precio" id="txtPrecio">

                <label for="txtModelo"><h4>Modelo:</h4></label>
                <input type="text" name="modelo" id="txtModelo">

                <label for="txtStock"><h4>Stock:</h4></label>
                <input type="number" name="stock" id="txtStock">
                <button class="ui-btn ui-btn-inline">Guardar</button>
            </form>
            <ul data-role="listview" data-filter="true" data-filter-placeholder="electronica" data-insert="true">
                <% electronica.forEach((electronica)=>{%>
                    <div data-role="collapsible" data-content-theme="false">
                        <h2><%= electronica.nombre %></h2>
                        <p>Identificador: <%= electronica.electronica_Id %></p>
                        <p>Nombre: <%= electronica.nombre %></p>
                        <p>Categoria: <%= electronica.categoria %></p>
                        <p>Precio: <%= electronica.precio %></p>
                        <p>Modelo: <%= electronica.modelo %></p>
                        <p>Stock: <%= electronica.stock %></p>
                        <a href="/api/electronica/getOne/<%= electronica.electronica_Id %>" class="ui-btn ui-mini">Editar</a>
                        <a href="/api/electronica/deleteOne/<%= electronica.electronica_Id %>" class="ui-btn ui-mini">Borrar</a>
                    </div>
                <% }) %>
            </ul>
        </div>

        <div data-role="footer" style="overflow: hidden;">
            <h4 style="text-align: center;">Social Networks</h4>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="user"></a></li>
                    <li><a href="#" data-icon="heart"></a></li>
                    <li><a href="#" data-icon="mail"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>